<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="NewWorksheetPath">C:\Users\mjsh6\Desktop\NewWorkSheets</entry>
<entry key="DataBasePath">C:\Users\mjsh6\Desktop\F8076 - Quality Database.xlsm</entry>
<entry key="BlankFilePath">C:\Users\mjsh6\Desktop\F8076 - QualityWorksheet.xlsm</entry>
<entry key="DatabasePath">/somethingpath1</entry>
</properties>
